# Client Configuration
# Google OAuth Client ID (same as server)
VITE_GOOGLE_CLIENT_ID=192720000772-1qkm1i0lmg52b17vaslf0gm56lll3p0m.apps.googleusercontent.com

# API URL
VITE_API_URL=http://localhost:5000/api
